services:
  server:
    build:
      context: ./server
      target: dev
    ports:
      - "8080:8080"
    volumes:
      - ./server:/app

  client:
    build: ./client
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:8080
    depends_on:
      - server
    volumes:
      - ./client:/app
      - /app/node_modules

volumes:
  postgres_data:
  image_storage:
